* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* These are my Colour variables */

:root {

    --green: rgb(116, 240, 116);
    --orange: orange;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

p {
    font-size: 20px;

}

/* Green logo with Kishan Gosrani printed on it */

.logo {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

/* Navigation bar on top right of screen */
.topnav {
    overflow: hidden;
    background-color:white;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    text-decoration: none;
  }
  
.topnav a {
    float: left;
    color: var(--green);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    
  }
  
.topnav a:hover {
    background-color: rgb(233, 233, 233);
    color: black;
  }
  
li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

/* This section below is the About Me Section */

.AboutSection {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 5px 1%;
    flex-wrap: wrap;
}

.AboutSection h1 {
    display: flex;
    direction: row;
    width: 100%;
    padding: 2%;
    justify-content: center;
    color: var(--green);
    font-size: 26px;   
}

.AboutSection img {
    
    border: 1px solid;
    border-color: var(--orange);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    padding: 12px 12px;
    width: 350px;
    height:350px;
    
}

.aboutMeBorder {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: left 50%;
    padding: 50px;
    border: 1px solid;
    border-color: var(--orange);
    margin-top: 2em ;
    margin-bottom: 2em ;

}
.quote {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 75px;
    padding: 5px;
    border: 1px solid;  
    border-color: var(--orange);
    background-color: var(--green);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    animation: mymove 10s infinite;
    text-align: center;
    margin-top: 2em ;
    margin-bottom: 2em ;
    
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 40%;}
  }

/* This section below is for My Work */

.Work {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    width: 90%;
    flex-basis: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 20px 12px;
}

main h1 {
    display: flex;
    direction: row;
    width: 100%;
    padding: 2%;
    justify-content: center;
    color: var(--green);
    font-size: 26px;   
}

main section img {

    width: 400px;
    height: 300px;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--orange);
    transition: 1s;
}

main section img:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px lightgrey;
    width: 400px;
    height: auto;
}

main section header {

    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}

main section header:hover {
    text-decoration: underline red;
}

/* Contact me section */

.contact-me h1 {
    font-size: 25px;
    text-align: center;
    color: var(--green);
    margin-bottom: 2%;
}

.contact-me p {
    font-size: 22px;
    text-align: center;
}

.contact-me button {
    font-size: 22px;
    display: flex;;
    margin-left: 47%;
    /* margin-right: 40%; */
    margin-top: 2%;
    margin-bottom: 5%;

}


footer {
    margin-bottom: 2%;
}

/* This is where my media queries for the screen sizes are */

@media screen and (max-width: 1200px) and (min-width:680px)  {
    
    .logo {
        width: 120px;
        height: 120px;
    }
    
    .topnav {
        display: flex;
        flex-wrap: wrap;
    }

    .aboutMeBorder {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: left 30%;
        padding: 25px;
        border: 1px solid blue;
        margin-top: 2em ;
        margin-bottom: 2em ;
    }

    .quote {
        font-size: 20px;
        flex-wrap: wrap;
        padding: 5px;
        margin: 5px 5px 5px 5px;
        height: 12vh;
        width: 275px;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    #mywork h1 {

        font-size: 25px;
        text-align: center;
        margin-bottom: 1px;
        }
    
    #mywork header {
            font-size: 22px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    
    #mywork img {
            width: 600px;
            height: 400px;
        }
    
    .contact-me h1 {
            font-size: 25px;
            text-align: center;
            color: var(--green);
            margin-bottom: 2%;
        }
    
    .contact-me p {
            font-size: 22px;
            text-align: center;
        }
    
    .contact-me button {
            font-size: 22px;
            display: flex;
            margin: 47%;
            margin-top: 5%;
            margin-bottom: 5%;
        }

}

@media screen and (max-width: 680px) and (min-width: 480px){
    
    .logo {
        width: 100px;
        height: 100px;
    }

    .topnav a {
        display: flex;
        flex-wrap: wrap;
        color: var(--green);
        text-align: right;
        padding: 8px 10px;
        text-decoration: none;
        font-size: 12px;
        }
    
    .AboutSection img {
    
        border: 1px solid;
        border-color:var(--orange);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
        padding: 10px 10px;
        width: 250px;
        height:250px;
    }
    .aboutMeBorder {

        font-size: 12px;
        text-align: center;
        padding: 20px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 15px;
        margin-right: 15px;
        }
    
    .quote {
        font-size: 14px;
        flex-wrap: wrap;
        padding: 5px;
        margin: 5px 5px 5px 5px;
        height: 11vh;
        width: 175px;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    #mywork h1 {

        font-size: 22px;
        text-align: center;
        margin-bottom: 1px;
        }
    
    #mywork header {
            font-size: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    
    #mywork img {
            width: 400px;
            height: 300px;
        }
    
    .contact-me h1 {
            font-size: 22px;
            text-align: center;
            color: var(--green);
            margin-bottom: 2%;
        }
    
    .contact-me p {
            font-size: 20px;
            text-align: center;
        }
    
    .contact-me button {
            font-size: 20px;
            display: flex;
            margin: 100%;
            margin-left:40%;
            margin-right: 40%;
            flex-direction: column;
            align-items: center;
            margin-top: 5%;
            margin-bottom: 5%;
        }

}

@media screen and (max-width: 480px) and (min-width: 100px){
    
    .logo {
        width: 40px;
        height: 40px;
    }

    .topnav a {
        display: flex;
        flex-wrap: wrap;
        color: var(--green);
        text-align: right;
        padding: 4px 6px;
        text-decoration: none;
        font-size: 8px;
        }
    
    .AboutSection img {
    
        border: 1px solid;
        border-color: var(--orange);
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
        padding: 6px 6px;
        width: 100px;
        height:100px;
    }
    .aboutMeBorder {

        font-size: 8px;
        text-align: center;
        padding: 10px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 25px;
        margin-right: 25px;
        width: auto;
        }
    
    .quote {
        font-size: 8px;
        flex-wrap: wrap;
        padding: 2px;
        margin: 2px 2px 2px 2px;
        height: 7vh;
        width: 90px;
        margin-bottom: 2em;
        margin-top: 2em;
    }
    
    #mywork h1 {

        font-size: 18px;
        text-align: center;
        margin-bottom: 1px;
        }

    #mywork header {
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }

    #mywork img {
        width: 250px;
        height: 175px;
        }

    .contact-me h1 {
        font-size: 18px;
        text-align: center;
        color: var(--green);
        margin-bottom: 2%;
        }    

    .contact-me p {
        font-size: 10px;
        text-align: center;
        }

    .contact-me button {
        font-size: 10px;
        display: flex;
        margin-left:40%;
        margin-right: 40%;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        }
}